<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="settings" type="DP.LSP.Tools.DiskMon.Configuration.SettingsSection, DP.LSP.Tools.DiskMon" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DP.LSP.Tools.DiskMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%level] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DP.LSP.Tools.DiskMon.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%level] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="MailSender" value="test@dataprocessors.com.au"/> <!--LiveSystemDevelopers@dataprocessors.com.au-->
    <add key="MailSubject" value="Low Disk Space"/>
    <add key="SmtpHost" value="mail.dataprocessors.com.au"/>
    <add key="SmtpPort" value="25"/>
    <add key="ReportingFrequency" value="Monthly" />
  </appSettings>
  <settings>
    <drives>
      <!--monitor all available drives-->
      <add name="ALL" threshold="20"/> <!--available space threshold-->
      <!--<add name="C:\" threshold="20"/>-->
    </drives>
    <recipients>
      <add email="michael.borra@dataprocessors.com.au"/>
    </recipients>   
  </settings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <DP.LSP.Tools.DiskMon.Properties.Settings>
      <setting name="LastReportDate" serializeAs="String">
        <value />
      </setting>
    </DP.LSP.Tools.DiskMon.Properties.Settings>
  </userSettings>
</configuration>
